name: Clang Format Check

on:
  pull_request:
  push:
    paths:
      - "src/**"

jobs:
  check-formatting:
    name: Check clang-format
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repo
        uses: actions/checkout@v3

      - name: Install clang-format
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
          sudo apt-get install -y clang-format-20

      - name: Check file formatting
        run: |
          FILES=$(find ./src -name '*.c' -o -name '*.h' -o -name '*.cpp' -o -name '*.hpp')
          echo "Checking file:"
          echo "$FILES"
          clang-format-20 --dry-run --Werror $FILES
